{extend name='base'/}
{block name='content'}
<article class="_carousel">

        <div class="_head category_title">
           <h1>MESUNGLO漫衣</h1>
        </div>

</article>
{foreach name='articleData' item='vo'}
<article>
    <div class="row">
        <div class="col-sm-4">
                <img src="{$vo['pro_thumb']}"  class="img-responsive"/>
                <p>
                    {$vo['pro_digest']}
                </p>
                
                <a href="{$vo['pro_url']}">{$vo['pro_title']}</a>
                <br>
                价格：<span style='color:red'>{$vo['pro_pricein']}.00</span>
                •

                分类：
                <a href="">{$vo['cate_name']}</a>
                <br>
                <i class="glyphicon glyphicon-tags"></i>
                {foreach name="vo['tags']" item='v'}
                <a href="{:url('index/lists/index',['tag_id'=>$v['tag_id']])}">{$v['tag_name']}</a>、
                {/foreach}
        </div>
        
    
    
</article>
{/foreach}
{/block}